h1 {
  text-decoration: underline;
  text-align: center;

  font-size: 60px;
}

body {
  background: linear-gradient(135deg, #2d0b2e, #225d7f, #2c5181);
  transition: background-color 0.8s ease-in-out;

  color: #eaf0ff;
}

#logo {
  cursor: pointer;
  border: 2px solid #00d4ff;
  height: auto;
  border-radius: 50%;
  background-color: white;
}

span:hover {
  transition: transform 1s ease-out;
  color: #eaf0ff;
  box-shadow:
    0 0 10px #00ffae,
    0 0 20px #00d4ff,
    0 0 40px #00d4ff;
  font-size: large;
  cursor: pointer;
}

nav {
  height: 30px;
  padding: 10px;
  background-color: #111a33;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#search {
  padding: 5px;
}

#cart {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
}



@media screen and (width<=320px) {
  nav {
    display: flex;

    justify-content: space-around;
    flex-wrap: wrap;
  }
}
